* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 34, 48);
}

article {
    background-color: rgb(48, 48, 67);
    display: inline-block;
    width: 420px;
    padding: 2.4rem;
    border-radius: 1rem;
    color: rgb(228, 226, 226);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article > div .image {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

article .rating {
    display: flex;
    justify-content: center;
    padding: .6rem;
}

article .rating p{
    background-color: rgb(39, 39, 54);
    border-radius: 2rem;
    padding: .3rem 1rem;
    color: rgb(230, 136, 102);
}

article div h1 {
    padding: .6rem;
}

article div p {
    line-height: 22px;
}
